<div class="row row-data" *ngIf="item">
  <div
    [@reorderedTrigger]="reordered"
    (@reorderedTrigger.done)="doneAnimation()"
    [ngClass]="{reordered}"
    class="col-1">
    {{item.id}}
  </div>
  <div class="col-3">{{item.title}}</div>
  <div class="col-6">{{item.description}}</div>
  <div class="col-2">
    <button (click)="clickHandler(item, 'up')" class="btn btn-primary" [disabled]="item.disabled">up</button>
    <button (click)="clickHandler(item, 'down')" class="btn btn-primary" [disabled]="item.disabled">down</button>
  </div>
</div>
