<div
  (@highlightTrigger.done)="doneAnimation()"
  *ngIf="item"
  [@highlightTrigger]="highlight"
  [ngClass]="{'border-success': highlight, 'border-warning': item.disabled || item.deleted}"
  class="row row-data border"
>
  <div
    class="col-1">
    {{item.id}}
  </div>
  <div class="col-3">{{item.title}}</div>
  <div class="col-6">{{item.description}}</div>
  <div class="col-2">
    <button (click)="reorderClickHandler(item, 'up')"
            [disabled]="item.disabled || item.deleted"
            class="btn btn-outline-primary">
      <i class="bi bi-arrow-up"></i>
    </button>
    <button (click)="reorderClickHandler(item, 'down')"
            [disabled]="item.disabled || item.deleted"
            class="btn btn-outline-primary">
      <i class="bi bi-arrow-down"></i>
    </button>
    <button (click)="deleteClickHandler(item)"
            [disabled]="item.disabled || item.deleted"
            class="btn btn-outline-danger">
      <i class="bi bi-bucket"></i>
    </button>
  </div>
</div>
