<div class="container">
  <button (click)="refreshData()" class="btn btn-outline-info"><i class="bi bi-arrow-repeat"></i> Refresh news</button>
  <div class="col text-center"><h1>News:</h1></div>

  <div class="table">
    <div *ngFor="let newsItem of (newsObservable$ | async)?.newsItems" class="row">
      <app-news-item (deleteItem)="deleteItem($event)" (reorderItem)="reorderItem($event)"
                     [item]="newsItem"></app-news-item>
    </div>
  </div>
  <div>length: {{(newsObservable$ | async)?.newsItems?.length}}</div>
</div>
