<div class="container">
  <button class="btn btn-outline-info" (click)="refreshData()"><i class="bi bi-arrow-repeat"></i> Refresh news</button>
  <div class="col text-center"><h1>News:</h1></div>

  <div class="table">
    <div class="row" *ngFor="let newsItem of (newsObservable$ | async)?.newsItems">
      <app-news-item (deleteItem)="deleteItem($event)" (reorderItem)="reorderItem($event)" [item]="newsItem"></app-news-item>
    </div>
  </div>
  <div>length: {{(newsObservable$ | async)?.newsItems?.length}}</div>
</div>
